/*
    position: relative;
    from top: 50px
    from left: 50px;
    top, bottom, left, right

    overflow: auto;
    width: % - Used for scaling

    baackground-image: url("");
    background-repeat: 
    background-position: 
    background: ... ... ...

    12-Column - 1 column = 8.33%
    3, 3, 3, 3
    4, 4, 4
    
    1 - 10 - 1

    @media (max-width: 600px) and ... , ... {}
        min-width
        orientation
        screen
        print
*/
@media (min-width: 1200px) {
    * {
        width: 80%;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    * {
        width: 50%;
    }
}
.dark-mode {
    background-color: #2f2f2f;
    color: white;
}
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    text-align: center;
}
button {
    float: center;
    text-decoration: none;
    color: none;
    display: block;
    width: 150px;
    text-align: center;
    margin-bottom: 1px;
}
footer a {
    list-style: none;
}
a:link a:visited {
    text-decoration: none;
    color: none;
    display: block;
    width: 150px;
    text-align: center;
    margin-bottom: 1px;
}
a:hover a:active {
    color: purple;
}
header li:nth-child(3) {
    font-size: 10px;
}
h1 {
    color: aqua;
    text-align: center;
    overscroll-behavior-y: none;
}
div, .green {
    color: green;
}
/*element with id="name"*/
#name {
    color: yellow;
    font-size: large;
    font-weight: 100;
    opacity: .7;
    font-style: italic;
}
h1.small {
    font-size: 10px;
}
/*every p inside a div directly*/
div > p {
    color: red;
}
/*every p inside a div even if inside another tag*/
div p {
    color: orange;
}